---
name: Xrefcheck

on:
  push:
    branches: [master]

jobs:
  xrefcheck:
    name: Check references
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Link Checker
        uses: serokell/xrefcheck-action@v1
